.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/background.png');
  color: white;
  display: flex;
}

.header {
  display: flex;
  font-family: fantasy;
  font-size: 25px;
  justify-content: center;
  margin-top: 30px;
}

.title {
  display: flex;
  font-family: fantasy;
  font-size: 35px;
  justify-content: center;
  margin-top: 40px;
}

.container-planetas {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 50px;
  width: 90%;
}

.planet-card {
  align-items: center;
  align-self: baseline;
  display: flex;
  flex-direction: column;
}

.planet-card:hover {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: scale(1.2);
}

.planet-name {
  margin-top: 25px;
}


.planet-card:nth-child( 1 ) img {
  width: 50px;
}

.planet-card:nth-child( 2 ) img {
  width: 102px;
}

.planet-card:nth-child( 3 ) img {
  width: 106px;
}

.planet-card:nth-child( 4 ) img {
  width: 66px;
}

.planet-card:nth-child( 5 ) img {
  width: 272px;
}

.planet-card:nth-child( 6 ) img {
  width: 250px;
}

.planet-card:nth-child( 7 ) img {
  width: 144px;
}

.planet-card:nth-child( 8 ) img {
  width: 140px;
}

.missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  width: 80%;
}

.mission-card {
  border: solid 1px white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 15px;
  width: 30%;
}

.mission-card:hover {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: scale(1.1);
}

.mission-name {
  border-bottom: solid 1px white;
  font-weight: 700;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

